{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
  <body>
    <div class="bg-shape"></div>
	<nav class="navbar navbar-light">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'myproject:home' %}">HOME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'myproject:about' %}">ABOUT ME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'myproject:profile' %}">MY PROFILE</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'myproject:contacts' %}">CONTACTS</a>
			</li>
		</ul>
	</nav>
    {% block content %}
	{% endblock %}
  </body>
</html>
